* {
  font-family: "Bahnschrift Light", sans-serif;
}

.body {
  background-image: url('../images/assets/wallpaper.png');
  background-attachment: absolute;
  background-repeat: repeat;
}

.blurple {
  background-color: #7289DA;
}

.dark-1 {
  background-color: #2D2C2D;
}

.dark-2 {
  background-color: #2C2F33;
}

.transparency-given {
  background: none !important;
}

.content-main {
  margin-top: 15px;
  position: relative;
}

.dropdown-content li > a {
  color: #000;
}

.banner {
  width: 100%;
  height: 55vh;
  margin-top: -1%;
}

.star {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

.fadeLeft {
  -webkit-animation: animat_left 0.8s;
  animation: animat_left 0.8s;
  visibility: visible !important;
}

.fadeRight {
  -webkit-animation: animat_right 0.8s;
  animation: animat_right 0.8s;
  visibility: visible !important;
}

@keyframes animat_left{
  0%{right:150%;
     opacity:0}
  100%{right:0%;
       opacity:0}
}

@keyframes animat_right{
  0%{left:-150%;
     opacity:0}
  100%{left:0%;
       opacity:1}
}

@keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}
